<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="ConfigService.V3.BasicHttpService"
                      closeTimeout="01:10:00" openTimeout="01:10:00" receiveTimeout="01:10:00" sendTimeout="01:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" messageEncoding="Text" useDefaultWebProxy="false" >
                      </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="ConfigService.V3.ConfigHttpService">
                    <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'http://tempuri.org/':    -->
                    <!--    <wsdl:binding name='ConfigService.V3.ConfigHttpService'>    -->
                    <!--        <cfg:ConfigEncoding xmlns:cfg="http://www.dell.com/USPConfig/ConfigService">..</cfg:ConfigEncoding>    -->
                    <textMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="ConfigService.V3.BinaryHttpService">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://g4vmconfigsvc01.olqa.preol.dell.com:8080/ConfigService/V3/ConfigService.svc/configHttp"
                binding="customBinding" bindingConfiguration="ConfigService.V3.ConfigHttpService"
                contract="ConfigService.IConfigService" name="ConfigService.V3.ConfigHttpService" />
            <endpoint address="http://g4vmconfigsvc01.olqa.preol.dell.com:8080/ConfigService/V3/ConfigService.svc/binaryHttp"
                binding="customBinding" bindingConfiguration="ConfigService.V3.BinaryHttpService"
                contract="ConfigService.IConfigService" name="ConfigService.V3.BinaryHttpService" />
            <endpoint address="http://g4vmconfigsvc01.olqa.preol.dell.com:8080/ConfigService/V3/ConfigService.svc"
                binding="basicHttpBinding" bindingConfiguration="ConfigService.V3.BasicHttpService"
                contract="ConfigService.IConfigService" name="ConfigService.V3.BasicHttpService" />
        </client>
    </system.serviceModel>
</configuration>